<!DOCTYPE html>
<html>
  <head>
    <title>留言</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/show.css"/>
   	<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
   	<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
  </head>
  <body>
     <div class="nav">
  			<div class="navhead">
	  			<div class="logo">刘林杰的博客</div>	
	  			<ul class="nav-list">
	  					<li><a href="">主页</a></li>
	  					<li><a href="">分享</a></li>
	  					<li><a href="">留言板</a></li>
	  			</ul>
  			</div>
  	</div>
    
    <%  shuju.forEach(function(item,index){  %>
		    	<div class="panel panel-success">
		    		 <div class="panel-heading">
		        		<h3 class="panel-title"><%- item.biaoti  %></h3>
		   			 </div>
		    		<div class="panel-body">
		        		<%- item.con %>
		    		</div>
		    	</div>
	    	<%  }) %>
    
  </body>
</html>
